<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<p class="center">Fill in the fields below to sign up for WikiTwit!</p>
<div class="form-inline center-block">
	<div class="form-group">
			<%= form_for @user, html: { multipart: true } do |f| %>
				<%= render 'fields', f: f %>
				<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			<% end %>
	</div>
</div>

