<% if @survey.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger alert-block">
            The form contains <%= pluralize(@survey.errors.count, "error") %>.
        </div>
        
        <ul>
            <% @survey.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
